.App {
  font-family: sans-serif;
  text-align: center;
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.standout {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}
